playback_test
capture_test
capture_and_playback_test
connection_test
network_and_audio_test
lradc_test
*.o
*.pdf

# these contain passwords (private)
conf/debug.cfg
conf/chip.cfg

# these contain private data
cert/*

# just execution scripts etc
con_test
con_gdb
naa_test
upload.sh
update.sh

# these are symlinks to elsewhere
src/config_core.c
src/config_core.h
src/sll_meta.h
src/varint.c
src/varint.h
src/mumble_pb.c
src/mumble_pb.h

